<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    {#<meta http-equiv="Refresh" content="90; url={{ path('terminal_lock') }}">#}

    <title>{% block title %} {% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <style>
        .first {
            margin-top: 1em;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/semantic.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/components/site.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/components/container.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/components/divider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/components/grid.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/components/form.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/components/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/components/transition.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<div class="ui main container first">

    {% block body %}{% endblock %}

</div>

<script src="{{ asset('assets/librays/jquery.min.js') }}"></script>
<script src="{{ asset('assets/semantic.js') }}"></script>
<script src="{{ asset('assets/components/form.js') }}"></script>
<script src="{{ asset('assets/components/transition.js') }}"></script>

<script type="text/javascript">
    var idleTime = 0;
    $(document).ready(function () {
        //Increment the idle time counter every minute.
        var idleInterval = setInterval(timerIncrement, 6000); // 1 minute

        //Zero the idle timer on mouse movement.
        $(this).mousemove(function (e) {
            idleTime = 0;
        });
        $(this).keypress(function (e) {
            idleTime = 0;
        });

        console.log("idleInterval: ", idleInterval);
    });

    function timerIncrement() {
        idleTime = idleTime + 1;
        if (idleTime > 1) { // 20 minutes
            window.location.reload();
        }
    }
</script>

{% block javascripts %}{% endblock %}
</body>
</html>
