{% extends 'base.html.twig' %}

{% block body %}
    <h1>Process list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Pid</th>
            <th>Script</th>
            <th>Uid</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for process in processes %}
            <tr>
                <td><a href="{{ path('process_show', { 'id': process.id }) }}">{{ process.id }}</a></td>
                <td>{{ process.pid }}</td>
                <td>{{ process.script }}</td>
                <td>{{ process.uid }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('process_show', { 'id': process.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('process_edit', { 'id': process.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('process_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
