{% extends 'base.html.twig' %}

{% block body %}
    <h1>Worker</h1>

    <table class="ui very basic celled table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ worker.id }}</td>
        </tr>
        <tr>
            <th>Fullname</th>
            <td>{{ worker.fullName }}</td>
        </tr>
        <tr>
            <th>Birthdate</th>
            <td>{% if worker.birthDate %}{{ worker.birthDate|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Card</th>
            <td>{{ worker.card }}</td>
        </tr>
        <tr>
            <th>Pesel</th>
            <td>{{ worker.pesel }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('manager_worker_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('manager_worker_edit', { 'id': worker.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
