{% extends 'base.html.twig' %}

{% block body %}
    <h1>Process</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ process.id }}</td>
        </tr>
        <tr>
            <th>Pid</th>
            <td>{{ process.pid }}</td>
        </tr>
        <tr>
            <th>Script</th>
            <td>{{ process.script }}</td>
        </tr>
        <tr>
            <th>Uid</th>
            <td>{{ process.uid }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('process_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('process_edit', { 'id': process.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
