<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <link rel="stylesheet" href="{{ asset('ratchet/css/ratchet-theme-android.css') }}"/>

</head>
<body>
{% block navigation %}
    <header class="bar bar-nav">
        <h1 class="title">Tools:</h1>
    </header>
    <ul>
        <li><a href="{{ path('homepage') }}">HomePage</a></li>
        <li><a href="{{ path('process_index') }}">Process</a></li>
    </ul>
{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('ratchet/js/ratchet.js') }}"></script>
{% endblock %}
</body>
</html>
