{% form_theme form _self %}

{% block integer_widget %}
    <div class="integer_widget">
        {% set type = type|default('number') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}DNC Panel{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.css') }}"/>

</head>
<body>
<div class="container">
    {% block navigation %}
        <header class="bar bar-nav">
            <h1 class="title">Tools:</h1>
        </header>
        <ul>
            <li><a href="{{ path('homepage') }}">HomePage</a></li>
            <li><a href="{{ path('process_index') }}">Process</a></li>
            <li><a href="{{ path('machines_index') }}">Machines</a></li>
        </ul>
    {% endblock %}
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    <script src="{{ asset('jquery/jquery.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>
