{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rate list</h1>

    <table class="ui celled table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Value</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for rate in rates %}
            <tr>
                <td><a href="{{ path('manager_rate_show', { 'id': rate.id }) }}">{{ rate.id }}</a></td>
                <td>{{ rate.value }}</td>
                <td>{{ rate.assortment.name }}</td>
                <td>{{ rate.operation.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('manager_rate_show', { 'id': rate.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('manager_rate_edit', { 'id': rate.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('manager_rate_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
