{% extends 'base.html.twig' %}

{% block body %}
    <h1>Technology list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Version</th>
            <th>Adddate</th>
            <th>Moddate</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for technology in technologies %}
            <tr>
                <td><a href="{{ path('manager_technology_show', { 'id': technology.id }) }}">{{ technology.id }}</a>
                </td>
                <td>{{ technology.version }}</td>
                <td>{% if technology.addDate %}{{ technology.addDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if technology.modDate %}{{ technology.modDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('manager_technology_show', { 'id': technology.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('manager_technology_edit', { 'id': technology.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('manager_technology_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
