{% extends 'base.html.twig' %}

{% block body %}
    <h1>Technology</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ technology.id }}</td>
        </tr>
        <tr>
            <th>Version</th>
            <td>{{ technology.version }}</td>
        </tr>
        <tr>
            <th>Adddate</th>
            <td>{% if technology.addDate %}{{ technology.addDate|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Moddate</th>
            <td>{% if technology.modDate %}{{ technology.modDate|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('manager_technology_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('manager_technology_edit', { 'id': technology.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
