{% extends 'base.html.twig' %}

{% block body %}
    <h1>Worker list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Fullname</th>
            <th>Birthdate</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for worker in workers %}
            <tr>
                <td><a href="{{ path('manager_worker_show', { 'id': worker.id }) }}">{{ worker.id }}</a></td>
                <td>{{ worker.fullName }}</td>
                <td>{% if worker.birthDate %}{{ worker.birthDate|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('manager_worker_show', { 'id': worker.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('manager_worker_edit', { 'id': worker.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('manager_worker_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
