{% extends 'base.html.twig' %}

    {% block body %}
        <p>Lista narzędzi:</p>
        <ul>
            <li><a href="{{ path('manager_assortment_index') }}">Indeksy</a></li>
            <li><a href="{{ path('manager_dimension_index') }}">Indeksy - pomiary</a></li>
            <li><a href="{{ path('manager_operation_index') }}">Operacje</a></li>
            <li><a href="{{ path('manager_rate_index') }}">Akordy</a></li>
            <li><a href="{{ path('manager_plan_index') }}">Zamówienia</a></li>
            <li><a href="{{ path('manager_customer_index') }}">Klienci</a></li>
            <li><a href="{{ path('manager_machines_index') }}">Maszyny</a></li>
            <li><a href="{{ path('manager_worker_index') }}">Pracownicy</a></li>
            <li><a href="{{ path('manager_workercategory_index') }}">Pracownicy - kategorie</a></li>
            <li><a href="{{ path('manager_guide_index') }}">Przewodniki</a></li>
        </ul>
    {% endblock %}
