{% extends 'base.html.twig' %}

{% block body %}
    <h1>Assortment list</h1>

    <table class="ui celled table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for assortment in assortments %}
            <tr>
                <td><a href="{{ path('manager_assortment_show', { 'id': assortment.id }) }}">{{ assortment.id }}</a>
                </td>
                <td>{{ assortment.code }}</td>
                <td>{{ assortment.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('manager_assortment_show', { 'id': assortment.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('manager_assortment_edit', { 'id': assortment.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot class="full-width">
        <tr>
            <th colspan="4">
                <a href="{{ path('manager_assortment_new') }}" class="ui right floated labeled primary icon button">
                    <i class="add icon"></i> Dodaj ...</a>
            </th>
        </tr>
        </tfoot>
    </table>
{% endblock %}
