{% extends 'base.html.twig' %}

{% block body %}
    <h1>Guide</h1>

    <table class="ui very basic celled table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ guide.id }}</td>
        </tr>
        <tr>
            <th>Number</th>
            <td>{{ guide.number }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{% if guide.date %}{{ guide.date|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('manager_guide_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('manager_guide_edit', { 'id': guide.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
