{% extends "MonotypePosBundle:Terminal:base.html.twig" %}

{% block body %}
    <h1>Machines list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Command</th>
            <th>Protocol</th>
            <th>Address</th>
            <th>Port</th>
            <th>Localtion</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for machine in machines %}
            <tr>
                <td><a href="{{ path('machines_show', { 'id': machine.id }) }}">{{ machine.id }}</a></td>
                <td>{{ machine.command }}</td>
                <td>{{ machine.protocol }}</td>
                <td>{{ machine.address }}</td>
                <td>{{ machine.port }}</td>
                <td>{{ machine.localtion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('machines_show', { 'id': machine.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('machines_edit', { 'id': machine.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('machines_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
