{% extends "MonotypePosBundle:Terminal:base.html.twig" %}

{% block body %}
    <h1>Machines</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ machine.id }}</td>
        </tr>
        <tr>
            <th>Command</th>
            <td>{{ machine.command }}</td>
        </tr>
        <tr>
            <th>Protocol</th>
            <td>{{ machine.protocol }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ machine.address }}</td>
        </tr>
        <tr>
            <th>Port</th>
            <td>{{ machine.port }}</td>
        </tr>
        <tr>
            <th>Localtion</th>
            <td>{{ machine.localtion }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('machines_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('machines_edit', { 'id': machine.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
